<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>
    <context-param>
    	<param-name>javax.faces.CONFIG_FILES</param-name>
   		<param-value>/WEB-INF/faces-config.xml</param-value>
  	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
    	<param-name>primefaces.FONT_AWESOME</param-name>
    	<param-value>true</param-value>
	</context-param>
	<context-param>  
    	<param-name>primefaces.THEME</param-name>  
    	<param-value>glass-x</param-value>  
	</context-param>  
	<mime-mapping>  
   		<extension>woff2</extension>  
    	<mime-type>application/x-font-woff2</mime-type>  
	</mime-mapping>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>login.xhtml</welcome-file>
	</welcome-file-list>
	<filter> 
		<filter-name>LoginFilter</filter-name> 
		<filter-class>br.edu.ifpe.pdt.controladores.util.LoginFilter</filter-class> 
	</filter> 
	<filter-mapping> 
		<filter-name>LoginFilter</filter-name> 
		<url-pattern>/restrito/*</url-pattern> 
	</filter-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/restrito/error/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/restrito/error/error.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/restrito/error/error.xhtml</location>
	</error-page>
</web-app>